<!--git App for getting user name-->
<div class="container mt-3">
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header bg-secondary text-white">
                  <h3>Github user search</h3>
              </div>
              <div class="card-body">
                  <form class="form-inline">
                      <div class="form-group">
                          <input type="text " size=40 name="userName " [(ngModel)]="userName " placeholder="Enter git user name">
                      </div>
                      <div><button type="button " class="ml-3" (click)="getRepos() ">Get Repos</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!--loading phase-->
<div *ngIf="loading " class="container">loading...</div>
<!--error message-->
<div *ngIf="errorMessage " class="alert alert-warning container mt-3 p-3 ">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>
<!--table for displaying data-->
<div class="container mt-4 ">
  <table class='table table-bordered container'>
      <thead>
          <tr>
              <th> Repository Name</th>
              <th>Star Url</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let repo of repo ;">

              <td>{{repo.name}}</td>
              <td>{{repo.url}}</td>

          </tr>
      </tbody>
  </table>
</div>
